{% extends 'bootstrap/base.html' %}

{% block title %}Nomadcafe{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{%block content%}
<h1>All cafes</h1>
<div class="container" style="background-color:yellow;">
    <h4> cafe_name</h4>
    <h6>cafe location</h6>
    <h6>cafe image</h6>
    <h6>cafe has sockets</h6>

    <h6>cafe has wifi</h6>
    <h6>cafe has toilet</h6>
    <h6>cofee price</h6>
</div>
{% endblock %}
