{%extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/logging.css')}}">
{%endblock%}

{%block content%}

<div class="form-container container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification container">
            {{ messages[0] }}. Go to <a href="{{ url_for('register') }}"> Register if not registered</a>.
        </div>
    {% endif %}
    {% endwith %}
    <form action="{{url_for('login')}}" method="post" novalidate class="form form-horizontal" role="form">

            {{form.hidden_tag()}}
        {{wtf.form_errors(form, hiddens="only")}}


        {{wtf.form_field(form.email)}}
        {{wtf.form_field(form.password)}}
            <div class="field">

                <input type="checkbox" name="remember">
                <label>
                    Remember me
                </label>
            </div>
            <input class="log-button btn btn-dark" type="submit" value="Login">
    </form>
</div>
{%endblock%}