{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} cafe Editing {% endblock %}

{%block content%}

{%if is_edit:%}
<h1>Update Cafe</h1>

<form method="POST" action="{{url_for('update', cafe_id=cafe.id)}}">
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=20) }}
        </p>


        <p>
            {{ form.map_url.label }}
        </p>
        {{ form.map_url(size=20) }}


        <p>
            {{ form.img_url.label }}
            {{ form.img_url(size=20) }}
        </p>

        <p>
            {{ form.location.label }}
            {{ form.location(size=20) }}
        </p>

        <p>
            {{ form.has_sockets.label }} {{ form.has_sockets() }}
        </p>

        <p>
            {{ form.has_toilet.label }} {{ form.has_toilet() }}
        </p>

        <p>
            {{ form.has_wifi.label }} {{ form.has_wifi() }}
        </p>

        <p>
            {{ form.can_take_calls.label }} {{ form.can_take_calls() }}
        </p>


        <p>
            {{ form.seats.label }}  {{ form.seats(size=20) }}
        </p>

        <p>
            {{ form.coffee_price.label }}  ₤{{ form.coffee_price(size=20) }}
        </p>
     <p>
            <input type="submit" value="Submit">
        </p>

    </form>
{%else:%}
    <h1>Add a New Cafe</h1>

<form method="POST" action="{{url_for('add_cafe')}}">
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}
            {{ form.name(size=20) }}
        </p>


        <p>
            {{ form.map_url.label }}
        </p>
        {{ form.map_url(size=20) }}


        <p>
            {{ form.img_url.label }}
            {{ form.img_url(size=20) }}
        </p>

        <p>
            {{ form.location.label }}
            {{ form.location(size=20) }}
        </p>

        <p>
            {{ form.has_sockets.label }} {{ form.has_sockets() }}
        </p>

        <p>
            {{ form.has_toilet.label }} {{ form.has_toilet() }}
        </p>

        <p>
            {{ form.has_wifi.label }} {{ form.has_wifi() }}
        </p>

        <p>
            {{ form.can_take_calls.label }} {{ form.can_take_calls() }}
        </p>


        <p>
            {{ form.seats.label }}  {{ form.seats(size=20) }}
        </p>

        <p>
            {{ form.coffee_price.label }}  ₤{{ form.coffee_price(size=20) }}
        </p>
     <p>
            <input type="submit" value="Submit">
        </p>

    </form>
{%endif%}

{% endblock %}
