{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Add and Edit Cafe {% endblock %}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/logging.css')}}">
    <style>
        .footer-section{
            display:none;
        }

        .form-container{
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:left;
            width:80%;
            height:100%;
            margin-inline:auto;
            }

        body > div > div.form-container > form > div:nth-child(2),
        body > div > div.form-container > form > div:nth-child(3),
        body > div > div.form-container > form > div:nth-child(4),
        body > div > div.form-container > form > div:nth-child(5),
        body > div > div.form-container > form > div:nth-child(6),
        body > div > div.form-container > form > div:nth-child(7),
        body > div > div.form-container > form > div:nth-child(8),
        body > div > div.form-container > form > div:nth-child(9),
        body > div > div.form-container > form > div:nth-child(10),
        body > div > div.form-container > form > div:nth-child(11)

            {
            margin:2% auto;
            }
    </style>
{%endblock%}

{%block content%}

{%if is_edit:%}
<div class="add-heading container-fluid"><h1>Update Cafe</h1></div>

<div class="form-container">
    <form class="form form-horizontal" novalidate role="form" method="POST" action="{{url_for('update', cafe_id=cafe.id)}}">
        {{form.hidden_tag()}}
        {{wtf.form_errors(form, hiddens="only")}}

        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.map_url)}}
        {{wtf.form_field(form.img_url)}}
        {{wtf.form_field(form.location)}}
        {{wtf.form_field(form.has_sockets)}}
        {{wtf.form_field(form.has_toilet)}}
        {{wtf.form_field(form.has_wifi)}}
        {{wtf.form_field(form.can_take_calls)}}
        {{wtf.form_field(form.seats)}}
        {{wtf.form_field(form.coffee_price)}}
       <input class="log-button btn btn-dark" type="submit" value="Submit">
    </form>
</div>

{%else:%}
<div class="add-heading container-fluid"><h1>Add A new Cafe</h1></div>


    <div class="form-container">
    <form class="form form-horizontal" novalidate role="form" method="POST" action="{{url_for('add_cafe')}}">
        {{form.hidden_tag()}}
        {{wtf.form_errors(form, hiddens="only")}}

                {{wtf.form_field(form.name)}}
                {{wtf.form_field(form.map_url)}}
                {{wtf.form_field(form.img_url)}}
                {{wtf.form_field(form.location)}}
                {{wtf.form_field(form.has_sockets)}}
                {{wtf.form_field(form.has_toilet)}}
                {{wtf.form_field(form.has_wifi)}}
                {{wtf.form_field(form.can_take_calls)}}
                {{wtf.form_field(form.seats)}}
                {{wtf.form_field(form.coffee_price)}}
       <input class="log-button btn btn-dark" type="submit" value="Submit">
    </form>
</div>
{%endif%}

{% endblock %}
